html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
button {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}
.btn-circle{
    width:50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 1.42857;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}
.btn:hover {
  background-color: RoyalBlue;
  }
@media screen and (orientation:portrait) {
    body {
        flex-direction: column;
        height: auto;
    }
    .canvas_container {
        width: 100% !important;
        min-width: 100% !important;
    }
}
h1 {
    font-size: 2rem !important;
}
hr {
    width: 100%;
    border-top:  solid #ccc !important;
}
.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
#canvas{
    display: none;
}
.modalDialog.one > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    overflow:hidden;
    word-wrap:break-word;
    position: absolute;
    border-radius: 10px;
}
.btn.two: hover{
  opacity: 1;
}
#canvas_1 {
    border: 0px solid #653221;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
}
#canvas_2 {
    border: 0px solid #653221;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100vw;
    height: 100vh;
}
#canvas_3 {
    border: 0px solid #653221;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100vw;
    height: 100vh;
}